:root {
  --header-text-color: #212121;
  --first-title-color: #212121;
  --first-btn-color: #212121;
  --link-color: #2196f3;
  --adress-lnk-color: #757575;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
body {
  font-family: roboto, sans-serif;
  color: var(--first-title-color);
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} /*-----------------HEADER-----------------*/
.header {
  padding-top: 32px;
  border: 2px;
}
.header-container {
  display: flex;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.logo-web {
  color: var(--link-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-btn-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--link-color);
}
.current {
  color: var(--link-color);
}
/*---------------NAVIGATION------------------*/
.navigation-link:hover,
.navigation-link:focus {
  color: var(--link-color);
}
.navigation-list {
  display: flex;
}
.navigation-item + .navigation-item {
  margin-left: 50px;
}
.navigation {
  display: flex;
  align-items: center;
}
.adress-list {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  align-items: center;
}

button:hover,
button:focus {
  color: #188ce8;
}
/*-----------------ADRESS----------------*/

.adress-link {
  color: var(--adress-lnk-color);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--link-color);
}
.adress-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--adress-lnk-color);
}
.adress-list {
  display: flex;
}
.adress-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--adress-lnk-color);
  margin-left: 50px;
  padding-right: 215px;
}

.adress-mail {
  margin-left: 331px;
}

/*--------------------HERO--------------------*/

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
}
.button-studio {
  font-family: inherit;
}
.hero-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  width: 200px;
  height: 50px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border-color: transparent;
  margin-left: auto;
  margin-right: auto;
}
.button-studio:hover,
.button-studio:focus {
  color: #ffffff;
}

/*------------------SKILS----------------*/

.skills-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-text-color);
  margin-bottom: 10px;
}
.skills-item + .skills-item {
  margin-left: 30px;
}

.skills-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-lnk-color);
}
.skills-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.skills-list {
  display: flex;
}
/*------------GALERY-------------------*/
.gallery-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 50px;
}
.gallery-container {
  padding-top: 94px;
  padding-bottom: 188px;

  margin-left: auto;
  margin-right: auto;
}

.gallery-list {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

/*---------------------TEAM------------------*/

.team-container {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 50px;
}
.team-title-img {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 10px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.team-item + .team-item {
  margin-left: 30px;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--adress-lnk-color);
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
/*---------------FOOTER------------*/
.footer-container {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-web {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--link-color);
}
.footer-link-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*-------------PORTFOLIO--------*/

.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.navigation-btn-item {
  cursor: pointer;
  align-items: center;
}

.btn-list-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style-type: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
}

/*----------------FOOTER---------*/
.footer-link-web {
  color: #2196f3;
}

.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}
